body {
    background-color: #0a0f14;
    color: #ffffff;
    font-family: 'Ubuntu Mono', monospace;
}

a {
    color: #ffffff;
}

h1 {
    font-size: 60px;
    margin: 6px 8px;
}

h2 {
    font-size: 56px;
    margin: 6px 12px;
}

h3 {
    font-size: 47px;
    margin: 6px 20px;
}

p {
    font-size: 30px;
    margin: 2px 32px 12px;
}

pre {
    background-color: #0f1219; // 14191e
    color: #dcdcdc;
    margin: 5px 0;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 30px;
}
